<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfigTest"
	packages="org.apache.logging.log4j">
	<Properties>
		<Property name="filename">/var/log/tomcat8/springrestservice.log</Property>
	</Properties>

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%level: METHOD: %class.%method MSG: %msg%n" />
			<!-- Layout type="PatternLayout" pattern="%level LOGGER:%logger{10} CLASS:%class METHOD:%method MSG:%msg%n" / -->
		</Appender>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout">
				<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<!-- Log Hibernate transactions
		<Logger name="org.hibernate.engine.transaction" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
		 -->

		<Logger name="com.tcoveney" level="debug"
			additivity="false">
			<!-- 
			<AppenderRef ref="File" />
			 -->
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>